.common-card_bgc {
  background-color: rgba(35, 35, 36, 0.6) !important;
}
.common-text_line_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
